@import "../../node_modules/react-day-picker/lib/style.css";

.app-container {
    .main {
        .DayPickerInput {
            display: block;
        }

        #filter {
            -webkit-appearance: searchfield;

            &::-webkit-search-cancel-button {
                -webkit-appearance: searchfield-cancel-button;
            }
        }

        .table-hover {
            tfoot .table-primary:hover {
                background-color: #b8daff;
            }
        }
    }
}
